@import styles/variables
@import styles/extends

.intro
    display: flex
    align-items: flex-start

.column
    margin-right: 250px
    flex: 1 0

    &:last-of-type
        margin: 0

    .title
        margin-bottom: 25px
        font-size: 18px
        line-height: 1.5

        &.quote
            font-size: 20px
            color: $unme-red
            font-family: CrimsonText-Bold
            font-style: italic

    .desc
        +gloabalContentStyle

.team
    margin: 100px 0 120px
    display: flex
    flex-wrap: wrap

.member
    width: calc((100% - 255px) / 4)
    margin-right: 85px
    margin-bottom: 50px
    font-family: CrimsonText-SemiBold

    &:nth-of-type(4n)
        margin-right: 0

    .name
        font-size: 20px
        margin-bottom: 8px

    .titles
        color: $grey-warm

.slider
    margin-bottom: 120px
    position: relative

    &::before
        content: ""
        position: absolute
        left: 0
        top: 0
        background: var(--sub-color)

        +themeTransition

        width: 70vw
        height: calc(156px + 24vw)

    .title
        color: var(--main-color)

        +themeTransition

        font-size: 40px
        padding: 70px 0 40px 200px
        font-family: CrimsonText-Bold
        position: relative

.item
    .image
        overflow: hidden
        height: 0
        padding-top: 60%
        position: relative
        margin-bottom: 18px

        img
            position: absolute
            top: 0
            left: 0
            height: 100%

    .name
        font-size: 18px
        margin-top: 14px
        color: var(--sub-color)

        +themeTransition

+padStyle
    .member
        width: calc((100% - 60px) / 4)
        margin-right: 20px

    .slider:before
        width: 65vw


+mobileStyle
    .intro
        flex-direction: column

    .column
        margin: 0 0 50px

    .team
        margin-bottom: 90px

    .member
        width: calc((100% - 20px) / 2)
        margin-bottom: 35px

        &:nth-of-type(2n)
            margin-right: 0

        &::before
            top: 40%
            height: 37vw

    .info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 10px 0

    .slider
        &:before
            width: 60vw
            height: calc((100vw - 50px) * 0.6 + 116px)

        .title
            padding: 35px 60px
