@import styles/variables
@import styles/extends

.tags
    span
        margin-right: 30px
        color: var(--sub-color-third)

+padStyle
    .tag
        margin-bottom: 10px
        font-size: 12px


+mobileStyle
    .tags
        display: flex
        flex-direction: column
