@import styles/variables
@import styles/extends

.container
    width: 100px
    height: 30px
    position: relative
    cursor: pointer

    &.hover
        .arrow
            width: 0
            transition: ease all 0.4s

            &::after
                transition: ease all 0.4s
                width: 14px

            span
                transition: ease all 0.4s 0.1s
                transform: translateX(-10px)
                opacity: 1

.arrow
    width: 100px
    height: 1px
    background: $black-less
    position: absolute
    transition: ease all 0.2s 0.2s
    right: 0
    top: 16px

    &::before, &:after
        content: ""
        position: absolute
        height: 15px
        width: 15px

    &::before
        border-top: 1px solid $black-less
        top: -7px
        right: 3px
        transform: rotate(45deg)
        transition: ease all 0.4s

    &::after
        border-bottom: 1px solid $black-less
        top: -15px
        right: 0
        transform: rotate(-45deg)
        transition: ease all 0.4s
        transform-origin: right bottom
        width: 0

    &.dark
        background: $white

        &:before, &:after
            border-color: $white

    span
        transition: ease all 0.4s
        position: absolute
        right: 10px
        top: -11px
        opacity: 0
