@import styles/variables
@import styles/extends


.section
    text-align: center

    +gloabalContentStyle

    .title
        font-family: CrimsonText-SemiBold
        font-weight: bold
        line-height: 2
        color: var(--sub-color)
        font-size: 50px

    .sub-title
        line-height: 2
        font-size: 30px

.content
    position: relative
    margin: 170px auto
    display: flex
    justify-content: space-between

.dimension
    margin: 0 auto
    position: relative
    width: 600px
    margin-left: 100px
    flex: 1 0 auto

    .st0, .st1
        stroke: var(--sub-color)
        stroke-width: 1
        fill: none

    svg
        position: absolute
        top: 0
        left: 0

.steps
    width: 80%


.step
    +gloabalContentStyle

    transition: 1.5s ease all
    margin: 40px 0
    opacity: 0
    font-size: 15px

    .title
        font-family: CrimsonText-SemiBold
        font-weight: bold
        font-size: 22px
        line-height: 2
        color: var(--sub-color)

    &.in
        opacity: 0.8
    
.arrow-scroll
    position: fixed
    bottom: 70px
    z-index: 10
    left: calc(50% - 13px)
    width: 26px
    height: 50px
    border-radius: 13px
    border: 1px solid var(--sub-color)
    opacity: 1
    transition: opacity 0.5s
    &.hide
        opacity: 0
    &::before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        top: 20px
        left: calc(50% - 5px)
        transform: translateY(-15px)
        border-radius: 50%
        background: var(--sub-color)
        animation: arrowScroll 1.5s infinite linear
        opacity: 0


@keyframes arrowScroll 
  0% 
    transform: translateY(-15px)
    opacity: 0
  50% 
    transform: translateY(0)
    opacity: 1
  100% 
    transform: translateY(15px)
    opacity: 0
  
