@import styles/variables
@import styles/extends

.service
    h1
        text-align: center
        font-family: Crimson Text
        font-size: 50px

.section
    text-align: center

    +gloabalContentStyle

    .title
        font-family: CrimsonText-SemiBold
        font-weight: bold
        line-height: 1
        color: var(--sub-color)
        font-size: 50px
        margin-bottom: 20px

    .sub-title
        line-height: 2
        font-size: 25px
        margin: 10px 0

.content
    position: relative
    margin: 170px auto
    display: flex
    justify-content: space-between

.dimension
    margin: 0 auto
    position: relative
    width: 600px
    margin-left: 100px
    flex: 1 0 auto

    .st0, .st1
        stroke: var(--sub-color)
        stroke-width: 1
        fill: none

    svg
        position: absolute
        top: 0
        left: 0

.steps
    width: 80%

.step
    +gloabalContentStyle

    position: relative
    transition: 1.5s ease all
    margin: 40px 0
    opacity: 0
    font-size: 15px

    &.step0
        display: none

    .title
        font-family: CrimsonText-SemiBold
        font-weight: bold
        font-size: 22px
        line-height: 2
        color: var(--sub-color)
        margin-bottom: 15px

    .sub-title
        font-size: 16px
        font-weight: bold
        line-height: 1.5
        color: var(--sub-color)
        margin: 15px auto

    &.in
        opacity: 0.8

.process
    width: 80%
    margin: 0 auto

    .st0
        fill: none
        stroke: var(--sub-color)
        stroke-width: 1

    .st1
        fill: none
        stroke: var(--main-color)
        stroke-width: 1

    .st2
        fill: $unme-red
        stroke: var(--sub-color)

    .st3
        font-family: Noto Sans CJK TC
        font-weight: 300
        font-size: 14px
        fill: var(--sub-color)

    .st5
        fill: var(--sub-color)

.arrow-scroll
    position: fixed
    bottom: 70px
    z-index: 10
    left: calc(50% - 13px)
    width: 26px
    height: 50px
    border-radius: 13px
    border: 1px solid var(--sub-color)
    opacity: 1
    transition: opacity 0.5s

    &.hide
        opacity: 0

    &::before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        top: 20px
        left: calc(50% - 5px)
        transform: translateY(-15px)
        border-radius: 50%
        background: var(--sub-color)
        animation: arrowScroll 1.5s infinite linear
        opacity: 0

@keyframes arrowScroll
    0%
        transform: translateY(-15px)
        opacity: 0

    50%
        transform: translateY(0)
        opacity: 1

    100%
        transform: translateY(15px)
        opacity: 0

@media (max-width: 1280px)
    .dimension
        width: 450px

    .content
        height: 900px

    .step
        margin: 70px 0
        opacity: 1

        &::before

        .title
            cursor: pointer
            font-size: 20px
            font-weight: normal
            transition: 0.4s ease all

            &:hover
                transition: 0.4s ease all
                color: $unme-red

        .desc
            opacity: 0
            position: absolute
            top: 0
            left: calc(100% + 15px)
            width: 400px
            background: var(--sub-color)
            color: var(--main-color)
            padding: 20px
            transition: 0.5s all ease
            pointer-events: none

        .sub-title
            color: var(--main-color)

        &.active
            z-index: 1

            .desc
                pointer-events: inherit
                opacity: 1
                transition: 0.5s all ease

+mobileStyle
    .service
        h1
            font-size: 30px

    .top
        display: none

    .content
        height: auto
        flex-direction: column
        margin: 0 0 100px

    .steps
        width: auto

    .step
        text-align: left

        &.step0
            display: inherit

        &.in
            opacity: 1

        .sub-title
            color: var(--sub-color)

        .desc
            opacity: 1
            position: static
            padding: 0
            background: inherit
            color: inherit
            pointer-events: inherit
            width: auto

    .dimension
        margin: 0 auto
        width: 80%

        & > svg:first-of-type
            position: static

    .arrow-scroll
        display: none

    .process
        width: auto
