@import styles/variables
@import styles/extends

.service
    position: relative
    margin: 0 auto

.dimension
    margin: 0 auto
    padding-top: 300px

    .st0, .st1
        stroke: var(--sub-color)
        stroke-width: 1
        fill: none

    svg
        position: absolute
        top: 300px
        left: 15%
        width: 70%
        margin: 0 auto

.step
    position: absolute

    +gloabalContentStyle

    .title
        font-family: CrimsonText-SemiBold
        font-weight: bold
        font-size: 24px
        line-height: 2
        color: var(--sub-color)

    .sub-title
        line-height: 2
        font-size: 20px

.step0
    top: 50px
    left: 10%
    text-align: center
    width: 80%

    .title
        font-size: 40px

.step1
    top: 58vw
    left: 10%
    text-align: center
    width: 80%
    opacity: 0.6

+largeScreenStyle
    .step1
        top: 750px
        left: 10px
        width: 360px
