@import styles/variables
@import styles/extends

.carousel
    position: relative

    .carousel-wrapper
        width: calc(100% - 168px)

.arrows
    position: absolute
    top: -100px
    right: 50px
    display: flex

    & > div
        margin-left: 20px

.container
    overflow: hidden

.list
    display: flex
    align-items: center

.item
    margin: 0 110px 0 0

    &:hover
        cursor: pointer

+mobileStyle
    .carousel
        .carousel-wrapper
            width: 100%

        .carousel-ul
            padding-left: calc(50% - 300px)

        .arrows
            right: 25px
            flex-direction: column

            & > div
                margin: 5px 0
