@import styles/variables
@import styles/extends

.filter-container
    margin-bottom: 80px
    display: flex
    align-items: center
    &.sub
        margin-bottom: 200px

.filter
    padding: 10px
    margin-right: 35px
    transition: 0.3s ease all
    cursor: pointer
    position: relative
    color: var(--sub-color)
    border-bottom: 1px solid transparent
    transition: 0.5s ease all
    min-width: 55px
    text-align: center
    .nameCn
        +globalTransition
        transform: translateY(-10px)
        opacity: 0
        position: absolute
        bottom: -28px

    &.active
        transition: 0.5s ease all
        border-bottom: 1px solid var(--sub-color)
        .nameCn
            transition: 0.5s ease all 0.1s
            transform: translateY(0)
            opacity: 1
    +hover
        transition: 0.5s ease all
        border-bottom: 1px solid var(--sub-color)
        .nameCn
            transition: 0.5s ease all 0.1s
            transform: translateY(0)
            opacity: 1


.sub-filter
    padding: 8px
    margin-right: 35px
    transition: 0.3s ease all
    cursor: pointer
    position: relative
    color: var(--sub-color)
    border: 1px solid transparent
    line-height: 1.5

    &.active
        color: var(--main-color)
        transition: 0.3s ease all
        background: var(--sub-color)

    &:not(.active):hover
        border: 1px solid var(--sub-color)

        // color: $black-less

        // background: $grey-light
        transition: 0.3s ease all

        .filter-sub
            opacity: 1
            transform: translateY(0)
            transition: all ease 0.3s

    .filter-sub
        padding: 15px 0
        color: var(--sub-color)
        transition: all ease 0.3s
        opacity: 0
        transform: translateY(-15px)
        position: absolute
        top: 30px
        left: 0

    .sub
        padding: 10px 0

        &:hover
            color: $unme-red

.item
    display: flex
    align-items: center
    justify-content: flex-end
    position: relative
    margin: 0 -80px 230px

    &.invert
        justify-content: flex-start

        .info
            right: 120px
            left: inherit
            text-align: right

            .title .en
                right: 0
        .tags>div>span
            margin-right: 0
            margin-left: 30px


        .image .intro
            right: 0
            left: 6%

.info
    position: absolute
    z-index: 1
    top: 20%
    left: 120px
    width: 40%
    color: var(--sub-color)

    .title
        margin-bottom: 30px
        letter-spacing: 7px
        text-shadow: 0 0 30px var(--main-color)
        font-size: 70px
        +fontHindGuntur

        .cn
            font-size: 35px
            letter-spacing: 4px

    button
        margin-top: 100px
        font-size: 18px
        padding: 10px 0
        border-bottom: 1px solid var(--sub-color)
        color: var(--sub-color)
        letter-spacing: 2px
        +fontHindGuntur
.tags
    border-bottom: 1px solid var(--sub-color)
    padding-bottom: 15px
    line-height: 1.5
.image
    width: 60%
    position: relative

    .thumbnail
        height: 0
        padding-top: 60%
        overflow: hidden
        position: relative
        cursor: pointer
        img
            position: absolute
            top: 0
            left: 0

    .intro
        position: absolute
        bottom: -10%
        right: 6%
        width: 60%
        background: $grey-light
        padding: 36px 33px
        line-height: 2
        color: $black-less

        .define
            font-size: 18px
            font-weight: bold
.empty
    margin-top: 100px
    margin-bottom: 200px
    font-size: 25px
    display: flex
    justify-content: flex-start
    align-items: center
    font-style: italic
// post
.post
    line-height: 2
    letter-spacing: 0.5px

    &.init
        header
            img
                filter: blur(0)
                transition: 1.5s ease all

            h1, h2, p, img
                opacity: 1
                transform: translateY(0)

            h1
                transition: 1s ease all 0.3s

            h2
                transition: 1s ease all 0.6s

            p
                transition: 1s ease all 0.9s

        hr
            opacity: 0.5
            transition: 1s ease all 1.2s

        section
            opacity: 1
            transition: 1.3s ease all 1.5s

    header
        position: relative
        text-align: center
        font-size: 16px

        img
            transform: inherit
            filter: blur(15px)
            opacity: 0

        h1, h2, p
            transform: translateY(-15px)
            opacity: 0

        h1
            font-size: 60px
            text-align: center
            letter-spacing: 5px
            margin-bottom: 0

        h1 + h2
            text-align: center
            font-style: italic
            font-weight: 400
            color: var(--sub-color-third)
            letter-spacing: 5px
            font-size: 27px

    hr
        height: 1px
        width: 40%
        margin: 100px auto 70px
        background: linear-gradient(to left, transparent 0%, var(--sub-color-third) 15%, var(--sub-color-third) 85%, transparent 100%)
        border: 0
        transform: translateY(-15px)
        opacity: 0

    section
        margin-bottom: 100px
        opacity: 0
    

    h2
        letter-spacing: 2px

    p
        color: var(--sub-color-third)

    img
        background: white
        display: block
        opacity: 1
        margin-bottom: 20px
        transition: all 0.8s cubic-bezier(0, 0, 0.15, 0.95)
        transform: scale(1)

        &[data-src]
            height: 500px
            width: 100%
            opacity: 0
            transform: scale(0.85)
    ul
        margin-left: 25px
    li
        list-style-type: inherit
    iframe
        position: absolute
        top: 0;
        left: 0
        width: 100%
        height: 100%

+padStyle
    .item
        margin-bottom: 260px
        &.invert
            .info
                right: 60px
            .image .intro
                right: 0
                left: 0

    .info
        left: 60px
        .title
            font-size: 40px

            .cn
                font-size: 20px

    .image
        width: 65%
        .intro
            bottom: -40%
            right: 0
            width: 90%


+mobileStyle
    .item
        flex-direction: column-reverse
        margin: 0 auto 100px
        align-items: inherit;
        &.invert
            .info
                text-align: left
            .tags>div>span
                margin-right: 30px
                margin-left: 0
        .tags
            border: 0 
            margin-bottom: 15px
        .info
            position: static
            width: auto
            .title
                font-size: 25px
                letter-spacing: 3px
                margin: 20px 0 10px
            button
                margin: 0
        .image
            width: auto
            margin: 0 -25px
            .intro
                display: none
        .thunmnail
            min-height: 100%
            width: auto

    .select-filter
        width: 100%
        padding: 10px 0
        border: 0
        color: var(--sub-color)

        &:focus
            outline: none
    .filter-container
        margin-bottom: 10px
        &.sub
            margin-bottom: 40px


    // post
    .post
        line-height: 1.5

        header
            font-size: 12px

            img
                margin: 0 -25px
                width: calc(100% + 50px)

            h1
                font-size: 30px
                word-break: break-all

            h1 + h2
                font-size: 16px
                margin-bottom: 15px

            hr
                margin: 60px auto

        section
            margin-bottom: 70px
