@import styles/variables

.nav
    display: flex
    align-items: center
    justify-content: space-between
    font-family: "Crimson Text"
    height: 150px
    padding: 0 85px
    width: 100%
    position: fixed
    z-index: 10
    box-sizing: border-box
    background: $black
    transition: all 0.4s ease
    border-bottom: 1px solid $black

    &::before
        content: ""
        position: absolute
        left: 5vw
        bottom: -1px
        width: 90vw
        height: 1px
        background: transparent
        transition: all 0.8s ease

    &.fixed
        height: 100px
        padding: 35px 85px
        transition: all 0.4s ease

        &::before
            background: rgba($white, 0.5)
            transition: all 0.8s ease-in

    .logo
        width: 120px

    ul
        display: flex
        justify-content: space-between

    li
        list-style-type: none
        padding: 10px
        color: $white
        margin: 0 22px

    a
        padding: 4px 8px
        position: relative
        color: $shallow-white
        transition: 0.4s ease all

        &::before
            content: ""
            position: absolute
            width: 120%
            height: 1px
            background: $white
            left: -10%
            bottom: 0
            opacity: 0
            transform: translateY(10px)
            transition: 0.4s ease all

        &:hover
            color: $white
            transition: 0.4s ease all

            &:before
                opacity: 1
                transform: translateY(0)
                transition: 0.4s ease all

.switcher
    position: fixed
